In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedShuffleSplit

In [14]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1].to_frame()

In [29]:
sss = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=10)

In [19]:
y

            OEOTKLAC Index
2005-02-02        100.2692
2005-02-03        100.2692
2005-02-04        100.2692
2005-02-07        100.2692
2005-02-08        100.2692
...                    ...
2022-11-09         98.3858
2022-11-10         98.3858
2022-11-11         98.3858
2022-11-14         98.3858
2022-11-15         98.3858

[4700 rows x 1 columns]

In [28]:
X.notna()

,M2% YOY Index,CSI BARC Index,GSUSFCI Index,NAPMEXPT Index,CONSSENT Index,CONSEXP Index,OEUSDHAO Index,OEA5DHAO Index,OEOEDHAO Index,CPMINDX Index
2005-02-02,True,True,True,True,True,True,True,True,True,True
2005-02-03,True,True,True,True,True,True,True,True,True,True
2005-02-04,True,True,True,True,True,True,True,True,True,True
2005-02-07,True,True,True,True,True,True,True,True,True,True
2005-02-08,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
2022-11-09,True,True,True,True,True,True,True,True,True,True
2022-11-10,True,True,True,True,True,True,True,True,True,True
2022-11-11,True,True,True,True,True,True,True,True,True,True
2022-11-14,True,True,True,True,True,True,True,True,True,True
2022-11-15,True,True,True,True,True,True,True,True,True,True

In [25]:
sss = StratifiedShuffleSplit(n_splits=5, test_size=0.2, random_state=0) 
sss.split(X,y)

In [30]:
for train_index, test_index in sss.split(X, y): #n_splits 수만큼 반복
    X_train, X_test = X.iloc[train_index,], X.iloc[test_index,]
    y_train, y_test = y[train_index], y[test_index]

KeyError: "None of [Int64Index([2609, 2318,  804, 2054, 3665, 1994, 1543, 4663,    2, 3695,\n            ...\n            2572,  129, 3719, 1319, 1255, 1571, 1261, 2087, 3462, 2671],\n           dtype='int64', length=3760)] are in the [columns]"

In [2]:
df = pd.read_excel("C:/Users/seongsh/Desktop/making_index.xlsx",sheet_name=0,index_col =0, header=0)

In [4]:
from sklearn.model_selection import cross_val_score

In [6]:
dummy_scores = cross_val_score(df, X_train, y_train, scoring = 'accuracy', cv=10)

NameError: name 'X_train' is not defined

In [7]:
rnd_clf = RandomForestClassifier(n_estimators=100, max_leaf_nodes=40, max_features=8, n_jobs=-1)

In [8]:
# X_train 피처들과 y_train 레이블들을 가지고 학습
rnd_clf.fit(X_train, y_train)
# X_new 피처를 가지고 모델에서 예측하기
y_current_pred = rnd_clf.predict(X_new)

NameError: name 'X_train' is not defined