In [5]:
import warnings
warnings.filterwarnings('ignore')
import glob
import os
import datetime
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from xgboost import plot_importance
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score
from sklearn import svm
import seaborn as sns ; sns.set()

In [6]:
df = pd.read_csv("C:/Users/seongsh/Desktop/공부/딥러닝/algoTrade-master/ch06/ETFs_main.csv")

In [7]:
df

,Dates,CLOSE_SPY,OPEN,HIGH,LOW,VOLUME,CLOSE_GLD,CLOSE_FXY,CLOSE_T10Y2Y,CLOSE_TED,CLOSE_USO,CLOSE_UUP,CLOSE_VIX,CLOSE_VWO
0,2007-02-20,146.04,145.56,146.200,144.0,56909500.0,65.31,83.51,2.3263,0.31,48.67,25.07,10.24,40.055
1,2007-02-21,145.98,145.61,146.070,145.0,63971500.0,67.28,82.90,2.3653,0.32,49.86,25.12,10.20,39.975
2,2007-02-22,145.87,146.05,146.420,145.0,79067398.0,67.15,82.46,2.3871,0.31,50.33,25.12,10.18,40.220
3,2007-02-23,145.30,145.74,145.790,145.0,71962797.0,67.72,82.78,2.3809,0.31,50.46,25.04,10.58,40.035
4,2007-02-26,145.17,145.83,145.950,145.0,69320062.0,68.10,83.08,2.3795,0.31,50.90,25.04,11.15,39.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2766,2018-12-20,247.17,249.86,251.620,245.0,252053406.0,119.24,85.87,1.7807,0.48,9.72,25.77,28.38,38.180
2767,2018-12-21,240.70,246.74,249.710,240.0,255345594.0,118.72,85.87,1.7651,0.48,9.57,25.94,30.11,37.870
2768,2018-12-24,234.34,239.04,240.836,234.0,147311594.0,120.02,86.55,1.7505,0.40,9.29,25.55,36.07,37.320
2769,2018-12-27,248.07,242.57,248.290,239.0,186267297.0,120.57,86.00,1.7581,0.44,9.62,25.57,29.96,37.900
2770,2018-12-28,247.75,249.58,251.400,246.0,153100188.0,121.06,86.63,1.7320,0.45,9.53,25.50,28.34,38.170

In [15]:
def moving_average(df, n):
    MA = pd.Series(df['CLOSE_SPY'].rolling(n, min_periods = n).mean(), name = 'MA_'+str(n))
    df = df.join(MA)
    return df

def volume_moving_average(df, n):
    VMA = pd.Series(df['VOLUME'].rolling(n, min_periods = n).mean(), name = 'VMA' + str(n))
    df = df.join(VMA)
    return df

def relative_strength_index(df, n):
    '''Calculate Relative Strength Index(RSI)
    : param df : pandas.DataFrame
    : param n:
    : return : pandas.DataFrame
    '''
    i = 0
    UpI = [0]
    DoI = [0]
    while i + 1 <= df.index[-1]:
        UpMove = df.loc[i +1, 'HIGH'] - df.loc[i, 'HIGH']
        DoMove = df.loc[i, 'LOW'] - df.loc[i+1, 'LOW']
        if UpMove > DoMove and UpMove > 0:
            UpD = UpMove
        else:
            UpD = 0
        UpI.append(UpD)
        if DoMove > UpMove and DoMove >0:
            DoD = DoMove
        else:
            DoD = 0
        DoI.append(DoD)
        i +=1
    UpI = pd.Series(UpI)
    DoI = pd.Series(DoI)
    PosDI = pd.Series(UpI.ewm(span = n, min_periods = n).mean())
    NegDI = pd.Series(DoI.ewm(span= n, min_periods = n).mean())
    RSI = pd.Series(PosDI / (PosDI + NegDI), name = 'RSI_' +str(n))
    df = df.join(RSI)
    return df

In [22]:
df = moving_average(df, 45)
df = volume_moving_average(df, 45)
df = relative_strength_index(df, 14)

In [24]:
df = df.set_index('Dates')
df = df.dropna()
len(df)

KeyError: "None of ['Dates'] are in the columns"

In [26]:
df['target'] = df['CLOSE_SPY'].pct_change()

In [27]:
#df['target'] =  np.where(df['target'] > 0.0005), 1, -1)
df['target'] = np.where(df['target'] > 0 , 1, -1)
df['target'].value_counts()

 1    1471
-1    1256
Name: target, dtype: int64

In [28]:
df['target'] = df['target'].shift(-1)

In [31]:
df.dropna(inplace=True)

In [32]:
df['target'] = df['target'].astype(np.int64)
y_var = df['target']
x_var = df.drop(['target','OPEN','HIGH','LOW','VOLUME','CLOSE_SPY'],axis=1)

In [36]:
up = df[df['target']==1].target.count()
total = df.target.count()
print('up/down ratio : {0:.2f}'.format((up/total)))

up/down ratio : 0.54

In [35]:
# 훈련셋 데이터셋 나눔
# shuffle = False로 설정 기간 섞이지 않게
X_train, X_test, y_train, y_test = train_test_split(x_var, y_var, test_size = 0.3, shuffle = False, random_state = 3)

# 훈련셋과 테스트셋에 포함된 양성 샘플 비율을 확인
train_count = y_train.count()
test_count = y_test.count()

pirnt()

1471